@use 'variables.module' as *;

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.imageWrapper {
    
    cursor: pointer;
    
    img {
        box-shadow: 0 0 8px rgba(0,0,0, 0.8);
    }
     &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
     }
}

.fullScreenImage {
    width: 620px;
    height: auto;

    align-items: center;
    justify-content: center;
    padding: 4rem;

    img {
        width: 520px;
        height: 90%;
        pointer-events: none;
    }
}

.slider {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .closeBtn, .nextBtn, .prevBtn {
        position: fixed;
        cursor: pointer;
        opacity: 0.6;
        color: #fff;
        z-index: 10;

        &:hover {
            opacity: 1;
        }
    }

    .closeBtn {
        top: 100px;
        right: 40px;
    }

    .nextBtn {
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
    }

    .prevBtn {
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
    }
}




